extends layout

block content
  if currentUser
    a.new-post(href="/new-post")
      button(type="button")
        img(src="/images/plus.svg", alt="Create new post")
        | New post
    div.posts
      for post in posts
        div.post
          h3= post.title
          p= post.text
          if(currentUser.membershipStatus !== 'Guest')
            p
              strong Author:
              |  #{post.author.fullName}
            p
              strong= new Date(post.timestamp).toLocaleString('en-UK', { year: 'numeric', month: 'short', day: '2-digit', hour: '2-digit', minute: '2-digit'})
          if(currentUser.membershipStatus === 'Admin')
            a(href="/delete-post/" + post._id) Delete
  else
    p
      a(href="/sign-up") Sign up
      |  or 
      a(href="log-in") Log in
      |  to read and write posts
