doctype html
html
  head
    title Members Only
    meta(charset="utf-8")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 members only
      div
        if currentUser
          p= `Welcome, ${currentUser.firstName}!`
          a(href="/log-out") Log out
          if currentUser.membershipStatus === 'Guest'
            a(href="/become-a-member") Become a member
        else
          a(href="/sign-up") Sign up
          a(href="/log-in") Log in
    main
      block content
