extends layout

block content
  div.form
    form(action="", method="post") 
      h2 Log in
      ul
        li
          label(for="user-name") Username:
          input(type="text", name="username", id="user-name")
        li
          label(for="password") Password:
          input(type="password", name="password", id="password")
      button Submit
